@font-face {
  font-family: "Violet Evergarden Handwriting";
  src: url("./fonts/violet-evergarden-handwriting.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Violet Evergarden Regular";
  src: url("./fonts/violet-evergarden-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* FONTS */
  --font-main: "Cormorant Garamond", serif;
  --font-accent: "Italianno", cursive;

  /* COLORS */
  --red: 154, 74, 69;
  --d-blue: 77, 97, 116;
  --l-blue: 77, 186, 253;
  --beige: 221, 222, 208;
  --green: 54, 151, 117;
  --brown: 73, 63, 64;
  --gold: 225, 197, 66;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: var(--font-main);
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
